body {
  height: min-content;
}

div {
  display: flex;
  margin-left: 10px;
}

.eadheader {
  background-color: seashell;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.component {
  background-color: ivory;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.content {
  display: block;
}

span.label {
  font-weight: bold;
  padding: 2px;
}

span.text {
  position: relative;
  top: 2px;
}

.info > .meta > span.label {
  background-color: lightsalmon;
}

.fail > .meta > span.label {
  background-color: crimson;
}

.info > .meta > span.label:hover {
  background-color: peachpuff;
}

.fail > .meta > span.label:hover {
  background-color: salmon;
}

.meta {
  position: relative;
  height: 100%;
}

.meta:hover > .tooltip {
  display: inherit;
}

.tooltip {
  display: none;
  position: absolute;
  left: 101%;
  top: -2px;
  z-index: 1;
}

.tooltip tr {
  display: flex;
}

.message {
  background-color: salmon;
}

.message .role {
  font-weight: bold;
}

.attribute {
  background-color: peachpuff;
}

.attribute .label {
  font-weight: bold;
}
