body {
  display: inline-flex;
  font-size: 0.75vw;
  padding: 0.25vw;
}

.table-of-contents {
  display: inline-block;
  position: fixed;
  overflow-y: scroll;
  height: 95vh;
  width: 15vw;
  padding: 0.5vw;
  background-color: azure;
  border: 0.15vw solid midnightblue;
}

.table-of-contents > a {
  display: block;
  margin: 0.25vw;
}

.table-of-contents > a:link {
  color: mediumblue;
}

.table-of-contents > a:hover {
  color: darkorchid;
}

body > .element {
  position: absolute;
  right: 0.5vw;
  width: 80vw;
  margin: 0px;
}

.element {
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: snow;
  border: 0.15vw solid midnightblue;
  border-radius: 0.5vw;
}

.element:target {
  background-color: pink;
  animation-name: background-flash;
  animation-duration: 2s;
}

.meta {
  display: inline-flex;
  margin-left: 0.5vw;
}

.meta > .name {
  padding: 0.1vw;
  font-weight: bold;
  border-radius: 0.5vw;
  color: darkgreen;
}

.meta.with-tooltip > .name {
  color: firebrick;
  
  /* uncomment to enable flashy text on erroneous elements (seizure alert)
  animation-name: text-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  */
}

.meta > .tooltip {
  
  /* uncomment to remove tooltips unless hovered upon
  display: none;
  */
  
  z-index: 1;
  position: relative;
  margin-left: 0.75vw;
  padding: 0.25vw;
  border: 0.15vw solid darkred;
  border-radius: 0.5vw;
  color: darkred;
  background-color: mistyrose;
}

.meta.with-tooltip:hover > .tooltip {
  display: inline-block;
  animation-name: background-flash;
  animation-duration: 1s;
}

.tooltip:after {
  content: " ";
  position: absolute;
  top: 0.5vw;
  right: 100%;
  margin-top: -0.4vw;
  border: 0.4vw solid;
  border-color: transparent darkred transparent transparent;
}

.tooltip > .text {
  display: block;
}

.tooltip > .role {
  display: block;
  font-weight: bold;
}

.tooltip > .role:before {
  content: "[";
}

.tooltip > .role:after {
  content: "]";
}

.tooltip > .docu {
  display: block;
}

.attributes {
  display: table;
  margin: 0.5vw;
  padding: 0.5vw;
  background: linear-gradient(aliceblue, white, aliceblue);
  border: 0.1vw solid royalblue;
  border-left: 0.25vw solid royalblue;
  color: navy;
}

.attributes > .attribute {
  display: table-row;
}

.attributes > .attribute > .name {
  display: table-cell;
  font-weight: bold;
}

.attributes > .attribute > .value {
  display: table-cell;
  padding-left: 1vw;
}

.contents {
  margin: 0.5vw;
  padding: 0.5vw;
  background: linear-gradient(mintcream, white, mintcream);
  border: 0.1vw solid teal;
  border-left: 0.25vw solid teal;
  color: darkslategray;
}

@keyframes background-flash {
  from {
    background-color: crimson;
  }
}

@keyframes text-flash {
  from {
    background-color: salmon;
    color: red;
  }
}
